<html layout:decorate="~{layout}">
	<div layout:fragment="content" class="container my-3">
	    <table class="table">
	        <thead class="table-dark">
	            <tr>
	                <th>번호</th>
	                <th>제목</th>
	                <th>작성일시</th>
	            </tr>
	        </thead>
	        <tbody>
	            <tr th:each="question, loop : ${paging}">
	                <td th:text="${loop.count}"></td>
	                <td>
	                    <a th:href="@{|/question/detail/${question.id}|}" th:text="${question.subject}"></a>
	                </td>
	                <td th:text="${#temporals.format(question.createDate, 'yyyy-MM-dd HH:mm')}"></td>
	            </tr>
	        </tbody>
	    </table>
	        <!-- 페이징처리 시작 -->
	    <div th:if="${!paging.isEmpty()}">
	        <ul class="pagination justify-content-center">
	            <li class="page-item" th:classappend="${!paging.hasPrevious} ? 'disabled'">
	                <a class="page-link"
	                    th:href="@{|?page=${paging.number-1}|}">
	                    <span>이전</span>
	                </a>
	            </li>
	            <li th:each="page: ${#numbers.sequence(0, paging.totalPages-1)}"
	            	th:if="${page >= paging.number-5 and page <= paging.number+5}"
	                th:classappend="${page == paging.number} ? 'active'" 
	                class="page-item">
	                <a th:text="${page}" class="page-link" th:href="@{|?page=${page}|}"></a>
	            </li>
	            <li class="page-item" th:classappend="${!paging.hasNext} ? 'disabled'">
	                <a class="page-link" th:href="@{|?page=${paging.number+1}|}">
	                    <span>다음</span>
	                </a>
	            </li>
	        </ul>
	    </div>
	    <!-- 페이징처리 끝 -->
	    <a th:href="@{/question/create}" class="btn btn-primary">질문 등록하기</a>
	</div>
</html>

<!-- [분기문] if문, else if문 : question객체가 null이 아닌 경우에만 이 속성을 포함한 요소가 표시된다. -->
<!--/*--> 
	th:if="${question != null}"
<!--*/--> 
<!-- [반복문] for each와 유사 : loop.index/count/size/first/last/odd/even/current... -->
<!--/*-->
	th:each="question, loop : ${questionList}"
<!--*/-->
<!-- [텍스트] 해당 요소의 텍스트 값을 출력한다. + th:text 대신에 대괄호를 사용하여 값을 직접 출력할 수 있다. -->
<!--/*-->
	th:text="${question.subject}"
	<td>[[${question.subject}]]</td>
<!--*/-->